{% extends 'base.html' %}
{% block title %}Agregar Contrato{% endblock %}
{% block content %}
<h1>Agregar Contrato</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    <!-- Trabajador -->
    <p>
        {{ form.trabajador_id.label }}<br>
        {{ form.trabajador_id() }}
    </p>

    <!-- Fecha de Inicio -->
    <p>
        {{ form.fecha_inicio.label }}<br>
        {{ form.fecha_inicio() }}
    </p>

    <!-- Fecha de Término -->
    <p>
        {{ form.fecha_termino.label }}<br>
        {{ form.fecha_termino() }}
    </p>

    <!-- Botón para enviar el formulario -->
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
