{% extends 'base.html' %}

{% block title %}Editar Contrato{% endblock %}

{% block content %}
<h1>Editar Contrato</h1>

<form method="POST" action="{{ url_for('editar_contrato', id=contrato.id) }}">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
        <label for="trabajador_id">Trabajador:</label>
        {{ form.trabajador_id(class="form-control") }}
    </div>

    <div class="form-group">
        <label for="fecha_inicio">Fecha Inicio:</label>
        {{ form.fecha_inicio(class="form-control") }}
    </div>

    <div class="form-group">
        <label for="fecha_termino">Fecha Término:</label>
        {{ form.fecha_termino(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="{{ url_for('lista_contrato') }}" class="btn btn-secondary">Cancelar</a>
</form>

<a href="{{ url_for('lista_contrato') }}" class="btn btn-secondary">Volver a la Lista de Contratos</a>

{% endblock %}
