{% extends 'base.html' %}
{% block title %}Lista de Trabajadores{% endblock %}
{% block content %}
<h1>Trabajadores</h1>
<ul>
    {% for trabajador in trabajador %}
    <li>{{ trabajador.nombre }}
        <ul>
            {% for contrato in trabajador.contratos %}
            <li>Contrato ID: {{ contrato.id }} (Inicio: {{ contrato.fecha_inicio }}, Término: {{ contrato.fecha_termino }})</li>
            {% else %}
            <li>Sin contratos</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}