{% extends 'base.html' %}
{% block title %}Editar Trabajador{% endblock %}
{% block content %}
<h1>Editar Trabajador</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.rut.label }}<br>{{ form.rut(size=32) }}</p>
    <p>{{ form.nombre.label }}<br>{{ form.nombre(size=32) }}</p>
    <p>{{ form.apellidop.label }}<br>{{ form.apellidop(size=32) }}</p>
    <p>{{ form.apellidom.label }}<br>{{ form.apellidom(size=32) }}</p>
    <!-- (Incluye los demás campos según sea necesario) -->
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
